a{
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1355px;
    margin: 0 auto;
}

.icon-technology {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.link-button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #01be96;
    border-radius: 5px;
    color: #f6f6f9;
  }

.readme-content {
    display:block;
    background: #151b23;
    color: #f8f8f8;
    padding: 1em;
    border-radius: 8px;
    font-size: 1em;
    overflow-x: auto;
  }

  /* .readme-content h2 {
    font-size: 0.8em !important;
  }
  .readme-content h3 {
    font-size: 0.75em !important;
  }
  .readme-content h4 {
    font-size: 0.70em !important;
  }
  .readme-content h5 {
    font-size: 0.65em !important;
  }

  .readme-content p, .readme-content ul {
    font-size: 0.65em !important;
  } */