---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Jaime Balagué" />
    <meta name="author" content="Jaime Balagué" />
    <title>Jaime Balagué</title>

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <script
      type="module"
      data-entity="portafolio"
      src="https://info.jbr1989.es/script.js"></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Open Sans";
    src: url("fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2");
  }

  html {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color-scheme: light dark;
    font-family:
      "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }

  body {
    min-height: 100vh;
    /* display:grid;
		align-items: center;
		justify-content: center; */
  }

  body > header {
    position: relative;
    background-color: #000;
    padding: 20px 20px;
    color: #f6f6f9;
  }
</style>
